/.history/
*/*.pt
*/*.pth
*/*.zip
/run/
/.idea/
/.vscode/
/deploy/schp_libtorch/.vscode/
/deploy/schp_libtorch/build/
/build/
/error/
/log/
/mhp_extension/data/
/__pycache__/
/*/__pycache__/
/*/*/__pycache__/
/output/
/mhp_parsing/data/
/run_split/
/ckpt/
/deploy/*.png

